@charset "UTF-8";
/* CSS Document */

/* Master styles */

body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:22px;
	background-color:#f2f9ff;
	line-height:1.6;
}

body a {
	text-decoration: none;
	color:  black;
}

body a:hover {
  color: #666;
  background-color: transparent;
}

h1 {
	font-size:1em;
	margin:0px;
}

h2 {
	font-size:1em;
	margin:0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* nav styles */

.brand {
	padding-right:30px;
}

.nav-wrapper {
	display: flex;
	padding: 38px;
}

.nav-wrapper > div {
	margin-right: 30px;
	font-size: 1.2em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 35px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #666;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a {
	color: black !important;
}

.two-column-wrapper {
	display: grid;
	grid-template-columns: 0.62fr 0.38fr;
	margin: 40px;
	margin-top: 20px;
}

.left-column-wrapper {
	margin-right:40px;
}

.education-wrapper {
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
}

.right-column-wrapper img {
	width: 100%;
}

.single-column-wrapper {
	margin: 40px;
	margin-top: 20px;
}

.footer {
	height: 30px;
	padding-bottom:20px;
	text-align:center;
	font-size:0.7em;
}
