@charset "UTF-8";
/* CSS Document */

/* Master styles */

body {
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:22px;
	background-color:#f2f9ff;
	line-height:1.6;
}

body a {
	text-decoration: none;
	color:  black;
}

body a:hover {
  color: #666;
  background-color: transparent;
}

h1 {
	font-size:1em;
	margin:0px;
}

h2 {
	font-size:1.2em;
	margin:10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* nav styles */

.brand {
	padding-right:30px;
}

.nav-wrapper {
	display: flex;
	padding: 38px;
}

.nav-wrapper > div {
	margin-right: 30px;
	font-size: 1.2em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 35px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #666;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a {
	color: black !important;
}

.main-content {
	margin: 30px;
}

.footer {
	height: 30px;
	padding-bottom:20px;
	text-align:center;
	font-size:0.7em;
}

.member {
 display: flex;
 align-items: flex-start;
 margin-bottom: 50px; /* add a 20px margin below the container */
}

.member-image {
 max-width: 400px;
 width: 25%;
 height: auto;
 margin: 10px;
}

.member-text {
 margin-left: 20px;
 text-align: justify;
 margin-right: 20px;
}

.image-placeholder {
  aspect-ratio: 2 / 2.5;   /* Width ratio and Height ratio, so aspect-ratio: 1 / 1.5; can also be used */
  width: 100%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
}
