@charset "UTF-8";
/* CSS Document */

.video-wrapper video {
	width: 60%;
	margin: auto;
	padding-top: 30px;
}

.single-column-research {
	text-align: justify;
	margin: 40px;
	margin-top: 20px;
}

.topic {
 display: flex;
 align-items: flex-start;
 margin-top: 30px;
 margin-bottom: 20px; /* add a 20px margin below the container */
}

.topic-image {
 width: 25%;
 height: auto;
 margin: 10px;
}

.topic-text {
 text-align: justify;
}

.image-placeholder {
  aspect-ratio: 2 / 2.5;   /* Width ratio and Height ratio, so aspect-ratio: 1 / 1.5; can also be used */
  width: 100%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
}
